.Button{
  background-color: var(--color-black);
  border-radius: 12px;
  color: var(--color-primary);
  font-size: large;
  font-weight:bold;
  padding: 13px; 
  border: 1px solid var(--color-black);
  font-family: 'poppins', sans-serif;
  cursor: pointer;
}

