.Container{
  display: flex;
  align-items: center;
  position: relative;
}

.SearchBar{
  width: 35vw;
  height: 100%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 11px 20px;
  font-size: large;

}

.SearchBarButton{
  position: absolute;
  right: 0;
  background-color: white;
  height: 100%;
  padding: 11px 20px;
  border: 1px solid black;
  border-radius: 0 8px 8px 0; 
}