.Navbar{
  background-color: var(--color-primary);
  height: 74px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
} 