:root{
  -color-primary:#34c94b;
  -color-black:#121212;
  -color-white:#fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,body{
  height: 100%;
}
body{
  font-family: 'poppins', sans-serif;
  line-height: 1.5;
  background-color: #121212;
  color: #FFFFFF;
  overflow-x: hidden;
}
